* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(40, 218, 185);
}
.big-container{
  /* width: 100%; */
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.changeSize{
  margin-right: 5em;
  /* font-size: 3rem; */
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
}

.changeSize p,.size{
  font-size: 3rem;
}


.container {
  /* border: 5px solid #457b9d; */
  border: 2px solid #3ba1c9;
  margin: 5vh auto;
  width: 512px;
  height: 512px;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  
  border-radius: 5px;
}

.cell {
  border: 1px solid rgba(0, 0, 0, 0.041);
  box-sizing: border-box;
  
  /* background-color: rgb(209, 206, 206); */
  background-color: rgb(240, 237, 237);

  border-radius: .5px;
}

.red {
  
  background-color: rgba(233, 26, 37, 0.95);
}
.blue{
  
  background-color: rgba(14, 87, 223, 0.95);
}
.pink {
  
  background-color: rgba(239, 12, 179, 0.95);
}
.green {
  
  background-color: rgba(20, 240, 82, 0.95);
}
.yellow {
  
  background-color: rgba(237, 219, 18, 0.95);
}
.orange {
  
  background-color: rgba(236, 101, 11, 0.95);
}
.default {
  /* background-color: #457b9d; */
  background-color: rgba(19, 123, 214, 0.95);

  
}

h1 {
  font-size: 2.5rem;
}
span {
  font-size: 1.6rem;
  margin-top: 5px;
}
.slider{
  width: 100%;
}
button {
  font-size: 2rem;
  padding: 5px;
  border-radius: 10px;
  margin-top: 1em;
  margin-right: 5px;
  width: 100%;
  
  
}
